obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
.vscode/launch.json
.vscode/tasks.json
bin/Debug/net6.0/HomeLessonC-.deps.json
bin/Debug/net6.0/HomeLessonC-.dll
bin/Debug/net6.0/HomeLessonC-.exe
bin/Debug/net6.0/HomeLessonC-.pdb
bin/Debug/net6.0/HomeLessonC-.runtimeconfig.json
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/HomeLessonC-.AssemblyInfo.cs
obj/Debug/net6.0/HomeLessonC-.AssemblyInfoInputs.cache
obj/Debug/net6.0/HomeLessonC-.assets.cache
obj/Debug/net6.0/HomeLessonC-.csproj.AssemblyReference.cache
obj/Debug/net6.0/HomeLessonC-.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/HomeLessonC-.csproj.FileListAbsolute.txt
obj/Debug/net6.0/HomeLessonC-.dll
obj/Debug/net6.0/HomeLessonC-.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/HomeLessonC-.genruntimeconfig.cache
obj/Debug/net6.0/HomeLessonC-.GlobalUsings.g.cs
obj/Debug/net6.0/HomeLessonC-.pdb
obj/Debug/net6.0/ref/HomeLessonC-.dll
obj/Debug/net6.0/refint/HomeLessonC-.dll
